---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16RB0IJ4R6fOT5ApI5C1vVMN&description=Sign%20up%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16RB0JJ4R6fOT5Ap4U7gVkA9",
          "object": "charge",
          "created": 1437524555,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16RB0IJ4R6fOT5ApA2yhdudB",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "QtkPXGspjizkswkR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16RB0JJ4R6fOT5ApugFGZHxE",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for john@example.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16RB0JJ4R6fOT5Ap4U7gVkA9/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 22 Jul 2015 00:22:35 GMT
recorded_with: VCR 2.9.3
