---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16SrhrJ4R6fOT5ApU9Ir7wvi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16SrhrJ4R6fOT5ApU9Ir7wvi",
          "created": 1437927031,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16SrhrJ4R6fOT5ApqGBvIuBS",
              "object": "charge",
              "created": 1437927031,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16SrhqJ4R6fOT5Ap9d6NwBF5",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "QtkPXGspjizkswkR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6gEAH25lTcJfkL"
              },
              "captured": true,
              "balance_transaction": "txn_16SrhrJ4R6fOT5AppYYZkE9y",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6gEAH25lTcJfkL",
              "invoice": "in_16SrhrJ4R6fOT5Apu5W9huND",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16SrhrJ4R6fOT5ApqGBvIuBS/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6gEAHZyhhQmZlA",
          "api_version": "2015-07-13"
        }
  recorded_at: Sun, 26 Jul 2015 18:09:23 GMT
recorded_with: VCR 2.9.3
