---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16SwLZJ4R6fOT5ApCmn6iPeN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16SwLZJ4R6fOT5ApCmn6iPeN",
          "created": 1437944869,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_16SwLZJ4R6fOT5ApCLQFQCS0",
              "object": "charge",
              "created": 1437944869,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16SwIYJ4R6fOT5ApUbbPoMPM",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "teA9cALsWL5rbdIs",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6gGeBnMyQM2dY3"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_6gGeBnMyQM2dY3",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16SwLZJ4R6fOT5ApCLQFQCS0/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "req_6gIxxdpJDjS0lD",
          "api_version": "2015-07-13"
        }
  recorded_at: Sun, 26 Jul 2015 21:37:05 GMT
recorded_with: VCR 2.9.3
