---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16StC8J4R6fOT5ApIh9DHXuE",
          "livemode": false,
          "created": 1437932752,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16StC7J4R6fOT5Aparzy8ThH",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "QtkPXGspjizkswkR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "75.38.163.36"
        }
  recorded_at: Sun, 26 Jul 2015 17:45:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16StC8J4R6fOT5ApIh9DHXuE&email=granville%40hilll.name&plan=base
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1437932752,
          "id": "cus_6gFhun7lJvTFnb",
          "livemode": false,
          "description": null,
          "email": "granville@hilll.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6gFhun7lJvTFnb/subscriptions",
            "data": [
              {
                "id": "sub_6gFh5qpGuIPPEn",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1437913801,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1437932752,
                "status": "active",
                "customer": "cus_6gFhun7lJvTFnb",
                "cancel_at_period_end": false,
                "current_period_start": 1437932752,
                "current_period_end": 1440611152,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6gFhun7lJvTFnb/sources",
            "data": [
              {
                "id": "card_16StC7J4R6fOT5Aparzy8ThH",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "QtkPXGspjizkswkR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6gFhun7lJvTFnb"
              }
            ]
          },
          "default_source": "card_16StC7J4R6fOT5Aparzy8ThH"
        }
  recorded_at: Sun, 26 Jul 2015 17:45:52 GMT
recorded_with: VCR 2.9.3
