---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16SpjSJ4R6fOT5ApPiIxvg9R",
          "livemode": false,
          "created": 1437919442,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16SpjSJ4R6fOT5ApaWG2VkdB",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "QtkPXGspjizkswkR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "68.58.204.37"
        }
  recorded_at: Sun, 26 Jul 2015 14:04:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16SpjSJ4R6fOT5ApPiIxvg9R&email=claudia_murazik%40dubuque.name&plan=base
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1437919444,
          "id": "cus_6gC7wme6Z5SO7w",
          "livemode": false,
          "description": null,
          "email": "claudia_murazik@dubuque.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6gC7wme6Z5SO7w/subscriptions",
            "data": [
              {
                "id": "sub_6gC7PHwe5kf8uy",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1437913801,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1437919444,
                "status": "active",
                "customer": "cus_6gC7wme6Z5SO7w",
                "cancel_at_period_end": false,
                "current_period_start": 1437919444,
                "current_period_end": 1440597844,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6gC7wme6Z5SO7w/sources",
            "data": [
              {
                "id": "card_16SpjSJ4R6fOT5ApaWG2VkdB",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "QtkPXGspjizkswkR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6gC7wme6Z5SO7w"
              }
            ]
          },
          "default_source": "card_16SpjSJ4R6fOT5ApaWG2VkdB"
        }
  recorded_at: Sun, 26 Jul 2015 14:04:05 GMT
recorded_with: VCR 2.9.3
